/logs/
/public_testing_data/
/public_training_data/


/標記與資料說明/
/Training Label/
/checkpoints/*.hdf5
/wandb/

/submission_template.zip
/標記與資料說明.zip
/public_testing_data.zip
/public_training_data.zip
/public_data_label 更新表.xlsx
